h1,
h2 {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(135deg, #38220f 0%, #ece0d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.card h1:hover,
.card h2:hover,
.card h3:hover {
    transform: scale(1.05);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.card p:hover {
    transform: none;
    text-shadow: none;
}

p:hover {
    transform: scale(1.05);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

p {
    font-family: 'Exo 2', sans-serif;
    color: #38220f;
    transition: all 0.3s ease;
}

body {
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
    background-color: #ece0d1;
}


.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.card {
    border: 2px solid #ffffff;
    background-color: #ece0d1;
}
