h1,
h2 {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Exo 2', sans-serif;
}

body {
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
    background-color: #72939c;
}


.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}