H1 {
    text-align: left;
}

body {
    text-align: center !important;

}


.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}