h1,
h2 {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #72939c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p:hover {
    transform: scale(1.05);
    text-shadow: 0 0 20px rgba(114, 147, 156, 0.8);
}


p {
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    transition: all 0.3s ease;
}

body {
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
    background-color: #72939c;
}


.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}